.statistics {
    width: 600px;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.20), 0 0 4px rgba(0, 0, 0, 0.20), 0 0 4px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
}

.statList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    padding: 0;
    text-align: center;
}

.item {
    border: 1px solid #afb1b8;
    padding: 20px 20px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: dimgrey;
}

.label {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.18;
    color: white;
    
}

.percentage {
    font-weight: 400;
    font-size: 35px;
    line-height: 1.18;
    color: white;
}